body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: #886d6d;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 700px;
    background-color: black;
    color: white; 
    text-align: center;
    padding: 80px;

}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex; 
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    margin-left: 30px;
}

ul.show {
    display: block;
}

li {
    text-decoration: none; 
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300px;
}

.information {
    color: #F6F5F7;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
    color: #F6F5F7;
}

.button {
    width: 200px;
    height: 60px; 
    border-radius: 40px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    padding-top: 9px;
    margin-top: 35px;
}

.button:hover {
    background-color: #ef747b;
}

.button:active {
    background-color: #a9a9a9;
    color: #808080
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.sub-section-alternative h2 {
    color: white;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow:  20px 20px 60px #745d5d,
                -20px -20px 60px #9c7d7d;
    border-radius: 50px;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    width: 250px;
    border-radius: 125px;
    margin-top: 25px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef747b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width:1000px) {
    .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
    }

    ul {
        display: none;
        background-color:#484c68;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

form {
    max-width:400px;
    margin:0 auto;
    
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button {
    display: inline-block;
    background-color: coral;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 150px;

  }
  
  button:hover {
    background-color: #ef747b;
  }
